// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

p{
	font-family:$header__font;
}
a{
	padding: 0;
	background-color: #fff;
	color: $link__color;
	&:visited{
		color: $link__color;
	}
	&:hover{
		color: #2f1339;
	}
}

#masthead{
	height: 45spx;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #e1e1e1;	
}
//front-page (do, eat, sleep, wear) boxes
body.home{

	#primary-menu ul{
		display: flex;
		justify-content: space-around;
		background-color: white;
		top: 0px;
		li{
			padding: 5px;
		}
	}

.product-type-block-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #a1a1a1;
	border-top: 5px solid #a1a1a1;
	text-align: center;
	width: 23%;

	&:hover{
		border-color: #f0e4d1;
	}

		img{
			padding-top: 10px;
			width: 30%;
		}

		
		
		h2 {
			text-align: center;
			text-transform: uppercase;
			font-size: 2rem;
			margin-bottom: 4rem;
			font-family: "Merriweather";
		}
		ul{
				display: flex;
				flex-direction: row;
				background: blue;
		}
		
			li{
				display: flex;
				flex-direction: column;
			}
		}
}

.product-type-blocks {
	display: flex;
	justify-content: space-around;
	padding-left: 2rem;
	padding-right: 2rem;
}


.product-type-block-wrapper a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	padding: .75rem 1.5rem;
	background-color: #248A83;
}



.product-info-container	h2 {
	margin-bottom: 4rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
}
//inhabitent journal
.inhabitent-journal {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	margin-bottom: 3.5rem;

h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	margin-bottom: 4rem;
	padding: .5rem .5rem;
	line-height: 1.25;
	}
	ul{
		display: flex;
		justify-content: space-around;
		margin-left: 0px;
		padding-left: 0px;
	}

	li{
		display: flex;
		flex-direction: column;
		max-width: 30%;
		height: 450px;
		border: 1px solid #e1e1e1;
		text-decoration: none;
		text-align: left;

		.entry-meta {
				height: 30%;
			
			.entry-title a {
			text-align: left;
			font-size: 1.3rem;
			line-height: 1.25rem;
			text-decoration: none;
			}//entry-title a
		}//entry-meta
		a.black-btn{
			border: 1px solid black;
			text-decoration: none;
			margin-top: 10px;
			margin-left: 10px;
			margin-bottom: 10px;
			bottom: 0;
			width: 125px;
			height: 50px;
			text-align: center;
			padding-top: 5px;
			}
		}


		h2.entry-title{
			text-align: left;
			margin-top: 0px;
			padding-top: 0px;
		}

		img{
			height: 250px;
			width: 100%;
			border-bottom: 5px solid #e1e1e1
	}//img
}//inhabitent-journal



// journal specific page
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body.blog{
 .site-main{
	margin-left: 40px;
	max-width: 70%;
	}	

  .content-area{
	width: 100%;
	}
}


article.post.type-post {
	display: block;
	width: 80%;
}

body.blog .site-main {
	border-right: 1px solid #e1e1e1;
	margin-left: 10%;
}

//nav 
#site-navigation {
display: flex;
justify-content:flex-end;
text-transform: uppercase;
}

.blog .entry-header  {
	position: relative;
}

body.blog {
	header {
 display: flex;
 flex-direction: column;
 max-width: 100%;
 height: auto;
	}

	article.post{
	max-width: 100%;
	margin-right: 0;
	}
  h2.entry-title {
	 background-color: #248A83;
	 width: 75%;
	 position: absolute;
	 margin-top: 40px;
	 padding-left: 24px;
	 font-family: Novecento Sans Web,sans-serif;
	 font-size: 1rem;
	 letter-spacing: 2px;
	 top: 0;
	 left: 0;
 	}

	.entry-title a {
	color: white;
	text-decoration: none;
	font-size: 2.0rem;
	text-transform: uppercase;
	:hover{
	color:#f0e4d1
		}
	}

 	.entry-header .entry-meta {
	display: inline-block;
	background-color: #248A83;
	color: white;
	text-align: center;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
	}
}

//shop archive page 
body.archive{
	.product-info-container {
		border-bottom: 1px dashed #c8c8c8;

		h2{
			margin-bottom: 0;
			margin-top: 50px;
			line-height: 1.25;
			font-size: 2.4rem;
			letter-spacing: 2px;
			margin-bottom: 0.5rem;
		}
		a{
			padding: 0;
			background-color: #fff;
			margin: 30px;
			color: $link__color;
			&:visited{
				color: $link__color;
			}
			&:hover{
				color: #2f1339;
			}
		}
		.product-type-blocks {
			display: flex;
			justify-content: center;
			margin-bottom: 50px;
		}
	}

	.entry-header {
		border: 1px solid #e1e1e1;
		margin: 20px;
		.entry-title{
			font-size: $font__size;
		}
	}
	.content-block-wrapper{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		img{
			width: 100%;
			height: 250px;
			border-bottom: 5px solid #e1e1e1;
		}//archive content img
	}//archive content wrapper
}


//footer

.site-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	justify-content: space-between;
	background-image: url("../../Images/dark-wood.png");
}

.contact-info {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.business-hours {
	display: flex;
	flex-direction: column;
}

h3 {
	text-transform: uppercase;
	color: #d99054;
	font-family: $header__font, $font__main;
}

.copywrite{
	text-align: center;
	background-image: url("../../Images/dark-wood.png");
	margin: 0px;
}