// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}
*{
	font-family: $header__font;
}

//front-page (do, eat, sleep, wear) boxes
body.home{

.product-type-block-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #a1a1a1;
	border-top: 5px solid #a1a1a1;
	text-align: center;
	width: 23%;

		img{
			padding-top: 10px;
			width: 30%;
		}

		:hover{
			border-color: #d99054;
		}
		
		h2 {
			text-align: center;
			text-transform: uppercase;
			font-size: 2rem;
			margin-bottom: 4rem;
			}
			ul{
				display: flex;
				flex-direction: row;
				background: blue;
			}
		
			li{
				display: flex;
				flex-direction: column;
			}
		}
}

.product-type-blocks {
	display: flex;
	justify-content: space-around;
	padding-left: 2rem;
	padding-right: 2rem;
}


.product-type-block-wrapper a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	padding: .75rem 1.5rem;
	background-color: #248A83;
}



.product-info-container	h2 {
	margin-bottom: 4rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
}
//inhabitent journal
.inhabitent-journal {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	margin-bottom: 3.5rem;

h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	margin-bottom: 4rem;
	}
	ul{
		display: flex;
		justify-content: space-around;
		margin-left: 0px;
		padding-left: 0px;
	}

	li{
		display: flex;
		flex-direction: column;
		max-width: 30%;
		border: 1px solid #e1e1e1;
		text-decoration: none;

		.entry-meta .entry-title a {
			text-align: left;
			font-size: 1.3rem;
			line-height: 1.25rem;
		}

		img{
			height: 250px;
			width: 100%;
			border-bottom: 5px solid #e1e1e1
		}
	}
}


// journal main page
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body.blog{
 .site-main{
	margin-left: 40px;
	max-width: 70%;
	}	

  .content-area{
	width: 100%;
	}
}


article.post.type-post {
	display: block;
	width: 80%;
}

body.blog .site-main {
	border-right: 1px solid #e1e1e1;
	margin-left: 10%;
}

//nav 
#site-navigation {
display: flex;
justify-content:flex-end;
text-transform: uppercase;
border-bottom: 1px solid #e1e1e1;	
}

 #primary-menu a{
	display: flex;
	justify-content: space-around;
	background-color: blue;
}

.blog .entry-header img {
	width: 100%;
	height: 100%;
	position: relative;
}

body.blog {
	header {
 display: flex;
 flex-direction: column;
 max-width: 100%;
 height: auto;
	}

	article.post{
	max-width: 100%;
	margin-right: 0;
	}
  h2.entry-title {
	 background-color: #248A83;
	 width: 45%;
	 position: absolute;
	 margin-top: 40px;
	 padding-left: 24px;
	 font-family: Novecento Sans Web,sans-serif;
	 font-size: 2.1rem;
	 letter-spacing: 2px;
 	}

	.entry-title a {
	color: white;
	text-decoration: none;
	font-size: 2.0rem;
	text-transform: uppercase;
	:hover{
	color:#f0e4d1
		}
	}

 	.entry-header .entry-meta {
	display: inline-block;
	background-color: #248A83;
	color: white;
	text-align: center;
	height: 30px;
	position: absolute;
	}
}


//footer

.site-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	justify-content: space-between;
	background-image: url("../../Images/dark-wood.png");
}

.contact-info {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.business-hours {
	display: flex;
	flex-direction: column;
}

h3 {
	text-transform: uppercase;
	color: #d99054;
	font-family: $header__font, $font__main;
}

.copywrite{
	text-align: center;
	background-image: url("../../Images/dark-wood.png");
	margin: 0px;
}