/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
//single.php

body.post-template-default{
	.single-wrapper{
		display: flex;
		width: 100%;
		padding-top: 3rem;
		padding-left: 50px;
	}
	.single-content{
		display: flex;
		flex-direction: column;
		width: 70%;
		padding-right: 3rem;
		padding-top: 3rem;
		padding-left: 5rem;
			.entry-header{
        width: 100%;
		img.attachment-post-thumbnail{
			width: 100%;
			height: auto;
			position: relative;
    }
    .entry-title{
      background: $link__color;
      color: #fff;
    }
	}
			.entry-meta {
				position: absolute;
				background: $link__color;
				bottom: 0;
				left: 0;
			}
		}
}

//about.php

body.page-template{
	.entry-header{
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(180deg,
		rgba(0,0,0,.4),		
		rgba(0,0,0,.4)),
		url("../../Images/about-hero.jpg");
		background-size: cover, cover;
		.entry-title{
			font-size: 3rem;
			letter-spacing: 2px;
			font-family: $header__font;
			text-transform: uppercase;
			color: #fff;
		}
	}
	.entry-content{
		margin: 3rem auto;
		max-width: 800px;
		h1{
			text-align: center;
			font-family: $header__font;
			color: $h2__color;
			letter-spacing: 2px;
			font-size: 2.1rem;
			text-transform: uppercase;
		}
	}
}