/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
//single.php

body.post-template-default{
	.single-wrapper{
		display: flex;
		width: 100%;
		padding-top: 3rem;
		padding-left: 50px;
	}
	.single-content{
		display: flex;
		flex-direction: column;
		width: 70%;
		padding-right: 3rem;
		padding-top: 3rem;
		padding-left: 5rem;
			.entry-header{
        width: 100%;
		img.attachment-post-thumbnail{
			width: 100%;
			height: auto;
			position: relative;
    }
    .entry-title{
      background: $link__color;
      color: #fff;
    }
	}
			.entry-meta {
				position: absolute;
				background: $link__color;
				bottom: 0;
				left: 0;
			}
		}
}