/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
//home page
.home {
	.adventure-wrapper{
		padding: 5%;
		.adventure-title{
			text-align: center;
			color: $h2__color;
			font-family: "Novecento";
			margin-bottom: 3.75rem;
			font-weight: 400;
			font-size: 2.4rem;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	.adventure-pannels{
		width: 100%;
		height: 600px;
		display: flex;
		font-family: "Merriweather";
		.story-info{
			display: flex;
			flex-direction: column;
		}
		
		a{
			text-decoration: none;
			.read{
				border: 1px solid #fff;
				color: #fff;
				text-transform: uppercase;
				font-family: $header__font;
				text-align: center;
				font-size: 1rem;
				padding: .50rem 1.1rem;
			}
		}

	.canoe-girl{
		background: linear-gradient(180deg,
		rgba(0,0,0,.4),		
		rgba(0,0,0,.4)),
		url("../../Images/canoe-girl.jpg") no-repeat center;
		background-size: cover;
		height: 600px;
		width: 50%;
		margin-right: 10px;
		position: relative;
		font-size: 3rem;
		padding: 2%;
		text-transform: capitalize;
		a:visited{
			color: #fff;
			&:hover{
				color: #f0e4d1
			}
		}
	}
	.adventure-right{
		display: flex;
		flex-direction: column;
		width: 50%;

	.beach-bonfire{
		background: linear-gradient(180deg,
	rgba(0,0,0,.4),		
	rgba(0,0,0,.4)),
			url("../../Images/beach-bonfire.jpg") no-repeat center;
			background-size: cover;
			height: 300px;
			margin-bottom: 10px;
			position: relative;
			font-size: 2.4rem;
			padding: 2%;
			text-transform: capitalize;
			a:visited{
				color: #fff;
				&:hover{
					color: #f0e4d1
				}
			}
	}
		.adventure-bottom{
				display: flex;
				padding-bottom: 10px;
			.mountain-hikers{
				background: linear-gradient(180deg,
				rgba(0,0,0,.4),		
				rgba(0,0,0,.4)),
				url("../../Images/mountain-hikers.jpg") no-repeat center;
				background-size: cover;
				height: 300px;
				width: 320px;
				position: relative;
				font-size: 1.6rem;
				padding: 2%;
				text-transform: capitalize;
				a:visited{
					color: #fff;
					&:hover{
						color: #f0e4d1
					}
				}
			}
	.night-sky{
				background: linear-gradient(180deg,
				rgba(0,0,0,.4),		
				rgba(0,0,0,.4)),
				url("../../Images/night-sky.jpg") no-repeat center;
				background-size: cover;
				height: 300px;
				width: 320px;
				margin-left: 10px;
				position: relative;
				font-size: 1.6rem;
				padding: 2%;
				text-transform: capitalize;
				a:visited{
					color: #fff;
					&:hover{
						color: #f0e4d1
					}
				}
				}
			}	//adventure-bottom
		}//adventure-right	
	}//adventure wrapper
}

//single.php

body.post-template-default{
	.single-wrapper{
		display: flex;
		width: 100%;
		padding-top: 3rem;
		padding-left: 50px;
	}
	.single-content{
		display: flex;
		flex-direction: column;
		width: 70%;
		padding-right: 3rem;
		padding-top: 3rem;
		padding-left: 5rem;
			.entry-header{
        width: 100%;
		img.attachment-post-thumbnail{
			width: 100%;
			height: auto;
			position: relative;
    }
    .entry-title{
      background: $link__color;
      color: #fff;
    }
	}
			.entry-meta {
				position: absolute;
				background: $link__color;
				bottom: 8px;
			}
		}
}

//about.php

body.page-template{
	.entry-header{
		display: flex;
		justify-content: center;
		align-items: center;
		.entry-title{
			font-size: 3rem;
			letter-spacing: 2px;
			font-family: $header__font;
			text-transform: uppercase;
			color: #fff;
		}
	}
	.entry-content{
		margin: 3rem auto;
		max-width: 800px;
		h1{
			text-align: center;
			font-family: $header__font;
			color: $h2__color;
			letter-spacing: 2px;
			font-size: 2.1rem;
			text-transform: uppercase;
		}
	}
}

//archive.php 

body.archive{
	.site-content{
		display: flex;
	}


	.widget-area{
		padding-left: 5%;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.widget-title{
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}	

//SEARCH
body.search{
	.site-content{
		display: flex;
		width: 100%;
		height: 100%;
		padding-top: 50px;
	.page-title{
		text-decoration: none;
		font-family: $header__font;
		letter-spacing: 2px;
		font-size: 2.4rem;
		background-color: transparent;
		text-transform: uppercase;
		font-weight: bold;
		border-bottom: 1px solid #e1e1e1;

	}
	.content-area{
		padding-left: 5%;
		padding-right: 5%;
		width: 70%;
	}
	.site-main{
		width: 70%;
		.journal-readmore{
			border: 1px solid black;
			color: black;
			text-transform: uppercase;
			font-family: $header__font;
			text-decoration: none;
			text-align: center;
			padding: .50rem 1.1rem;
			bottom: 0;
			width: 150px;
			height: 42px;
			&:hover{
				background-color: $link__color;
				color: #fff;
			}
			}
		.entry-title{
			a{
				text-decoration: none;
				font-family: $header__font;
				letter-spacing: 2px;
				font-size: 2.1rem;
				background-color: transparent;
				text-transform: uppercase;
				color: $link__color;
				&:hover{
					color: $h2__color;
				}
			}
		}
	}
}
}
.widget-area{
	width: 30%;
	padding-left: 5%;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.widget-title{
	letter-spacing: 2px;
	text-transform: uppercase;
}